* { margin: 0; padding: 0; outline:0; }

body {
    font-size: 13px;
    line-height: 1.3;
    font-family: Arial, Helvetica, Sans-Serif;
    color: #565656;
    background: #fcfff4 url(images/bg.gif) repeat-x 0 0;
}

a { color: #0252aa; text-decoration: none; cursor:pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

input, textarea, select { font-size: 12px; font-family: Arial, Helvetica, sans-serif; }
textarea { overflow: auto; }

h2 { font-size: 25px; line-height: 27px; color: #cd5243; font-family: "Trebuchet MS",Arial, sans-serif; font-style: italic; font-weight: normal; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
/* .notext { font-size: 0; line-height: 0; text-indent: -4000px; } */

.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.center { width: 980px; margin: 0 auto; }

.shell { width: 986px; background: #fff url(images/shell-t1.gif) no-repeat 0 0; margin: 0 auto; position: relative; padding-bottom: 50px; }

#header { margin-bottom: 13px; }

h1#logo { float: left; display: inline; width: 50px; height: 20px; margin: 130px 50px 0px -180px; color: #003C9D; }  
h3 { font-size: 25px; line-height: 27px; color: #003C9D; Arial, sans-serif; font-weight: normal; }
h3#logo2 { float: left; display: inline; width: 230px; height: 20px; margin: 120px 100px 0px -265px; } 
/* h1#logo a { display: block; height: 34px; background: url(images/title.jpg) no-repeat 0 0; } */
h1#logo a { display: block; height: 34px; }

.btn,
.btn span { float: left; display: inline;  height: 21px; background: url(images/read-more-btn.gif) no-repeat 0 0; padding-left: 5px; color: #fbfef3; font-weight: bold; font-size: 13px; line-height: 20px; }
.btn span { background-position: right 0; padding: 0 5px 0 0; }
.btn:hover,
.btn:hover span { text-decoration: none; color: #000; }

#slider { height: 236px; padding: 3px 3px 0; position: relative;  }
#slider .content { width: 980px; height: 236px; position: relative; overflow: hidden; }
#slider .content ul { list-style: none outside none; position: relative; overflow: hidden; }
#slider .content ul li { width: 901px; height: 215px; position: relative; overflow: hidden; padding: 21px 0 0 79px; }
#slider .content ul li .slide-image { float: left; display: inline; margin-right: 72px; }
#slider .content ul li .text-container { float: left; display: inline; width: 550px; padding-top: 25px;  }
#slider .content ul li .text-container h2 { margin-bottom: 5px; }
#slider .content ul li .text-container .btn { margin-top: 20px; }
#slider .content ul li img{ width: 120px; height: 120px;}
#slider .content .jcarousel-clip,
#slider .content .jcarousel-container { position: relative; overflow: hidden; width: 980px; height: 236px; }
#slider .nav { position: absolute; top: 91px; right: -35px; width: 38px; height: 90px; display: block; background: url(images/slider-nav.gif) no-repeat 0 0; }
#slider .nav #up,
#slider .nav #down { width: 18px; height: 16px; display: block; }
#slider .nav #up { background: url(images/slider-up.gif) no-repeat 0 bottom; margin: 15px 0 0 8px; }
#slider .nav #up:hover { background-position: 0 0; }
#slider .nav #down { background: url(images/slider-down.gif) no-repeat 0 0; margin: 30px 0 0 8px; }
#slider .nav #down:hover { background-position: 0 bottom; }

/* #navigation { position: absolute; width: 1036px; height: 69px; background: url(images/navigation-bg.png) no-repeat 0 0; top: 226px; left: -10px;  } */
#navigation { position: absolute; width: 1036px; height: 69px; background: url(images/navigation-bg.png) no-repeat 0 0; top: 215px; left: -10px;  }
#navigation ul { list-style: none outside none; padding: 27px 0 0 15px; }
#navigation ul li { float: left; display: inline; margin-right: 10px; }
#navigation ul li a,
#navigation ul li a span { float: left; display: inline;  height: 25px; line-height: 24px; text-transform: uppercase; font-size: 14px; font-weight: bold; color: #545d50; padding-left: 10px; }
#navigation ul li a span { padding: 0 10px 0 0; }
#navigation ul li a:hover,
#navigation ul li a:hover span { text-decoration: none; background: url(images/nav-hover.gif) no-repeat 0 0; color: #fff; }
#navigation ul li a:hover span { background-position: right 0; }


#navigation1 { position: absolute; width: 1036px; height: 69px; top: 270px; left: -10px;  }
#navigation1 ul { list-style: none outside none; padding: 27px 0 0 15px; }
#navigation1 ul li { float: left; display: inline; margin-right: 10px; }
#navigation1 ul li a,
#navigation1 ul li a span { float: left; display: inline;  height: 25px; line-height: 24px; text-transform: uppercase; font-size: 14px; font-weight: bold; color: #545d50; padding-left: 10px; }
#navigation1 ul li a span { padding: 0 10px 0 0; }
#navigation1 ul li a:hover,
#navigation1 ul li a:hover span { text-decoration: none; background: url(images/nav-hover.gif) no-repeat 0 0; color: #fff; }
#navigation1 ul li a:hover span { background-position: right 0; }

#main { padding: 70px 10px 0; }

#content { width: 600px; }

#sidebar { width: 350px; }

.welcome { border-bottom: 1px dashed #c2c2c2; padding-bottom: 23px; }
.welcome h2{ padding-bottom: 10px; }

.news { padding-top: 20px; }
.news-item { border-bottom: 1px dashed #c2c2c2; padding-bottom: 20px; margin-bottom: 20px; }
.news-item .news-pointer { position: relative;  float: left; display: inline;  width: 78px; height: 63px; background: url(images/news-pointer.gif) no-repeat 0 0; font-size: 43px; font-weight: bold; padding: 17px 0 0 36px; margin: 0 30px 0 -23px;  }
.news-item .news-body { float: left; display: inline;  width: 470px; }
.news-item .news-body h3 { float: left; display: inline;  font-size: 23px; color: #768070; font-family: "Trebuchet MS",Arial, sans-serif; font-weight: normal; }
.news-item a.btn { margin: 5px 0 0 8px; }
.news-item a.btn span em { background: url(images/ico-btn.gif) no-repeat right 5px; padding-right: 13px; font-style: normal; }
.news-item .pic {float: left;}

.blog-roll{ }
.blog-roll h2 { margin-bottom: 10px; }
.blog-roll .rss-feed { float: right; display: inline;  width: 19px; height: 20px; background: url(images/ico-rss.gif) no-repeat 0 0; margin-top: 8px; }
.blog-roll .blog-item { border-bottom: 1px dashed #c2c2c2; line-height: 16px; padding-bottom: 7px; margin-bottom: 7px; }
.blog-roll .blog-item h4 a { font-size: 13px; color: #78823a;  }
.blog-roll .blog-item .blog-date { font-size: 10px; }
.blog-roll .blog-item h4 a:hover { color: #000; text-decoration: none; }

.contact { border-bottom: 1px dashed #c2c2c2; padding-bottom: 10px; margin-top: 25px; }
.contact h2 { margin-bottom: 10px; }

#footer { width: 1010px; height: 73px; position: relative; background: url(images/footer-bg.png) no-repeat 0 0; margin: 0 -16px 0 -14px;  }
#footer .left { padding: 33px 0 0 421px;}
#footer .left a { font-size: 09px; color: #7a7a78; text-decoration: underline;}
#footer .left a:hover { color: #000; text-decoration: none; }
#footer .right { font-size: 11px; color: #4a4a4a; padding: 36px 45px 0 0; } 
#footer .right a { color: #4a4a4a; }
