<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
    
	<title>Risame - Reseach in Software Analysis, Maintenance, and Evolution</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="css/images/favicon.ico" />
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	
	<script src="js/jquery-1.4.2.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery.jcarousel.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/cufon-yui.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/Arial.font.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/js-func.js" type="text/javascript" charset="utf-8"></script>

    <!-- added by aponder START -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
	<!-- added by aponder END -->
	
<script type="text/javascript">
function startmarquee(lh,speed,delay) { 
    var p=false; 
    var t; 
    var sh; 
    var o=document.getElementById("marqueebox"); 
    o.innerHTML+=o.innerHTML; 
    o.style.marginTop=0; 
    o.onmouseover=function(){p=true;} 
    o.onmouseout=function(){p=false;} 
    function start(){ 
        sh = o.offsetHeight; 
        o.style.height = sh; 
        t=setInterval(scrolling,speed); 
        if(!p) o.style.marginTop=parseInt(o.style.marginTop)-1+"px"; 
    } 
    function scrolling(){ 
        if(parseInt(o.style.marginTop)%lh!=0){ 
            o.style.marginTop=parseInt(o.style.marginTop)-1+"px"; 
            if(Math.abs(parseInt(o.style.marginTop))>=sh/2) o.style.marginTop=0; 
        }else{ 
            clearInterval(t); 
            setTimeout(start,delay); 
        } 
    } 
    setTimeout(start,delay); 
} 
</script> 
</head>
<body>
<!-- logo-->
<!-- <div id="header" class="center">
	<h1 id="logo" class="notext"><a href="index.html">RiSAME</a></h1>
	<div class="cl">&nbsp;</div>
</div> -->
<!-- end of logo -->

<!-- shell -->
<div class="shell" id="app">
	
	<!-- slider -->
	<div id="slider">

		<!-- left content -->
		<div class="content">
			<ul>
			  <li><img src="css/images/logo.jpg" alt="" class="slide-image" />
				  <div><h1 id="logo">
					<a href="index.html">RiSAME</a>
					</h1>
					
				  </div>
			    	
					<div  class="text-container" style="overflow: hidden; height: 200px; margin-left: 5px;"> 
						<div id="marqueebox" style="margin-top: -48px; height: 252px;"> 
                            <div id="appBanner">
                                <div class="tp" v-for="(award, idx) of awards">{{1+idx}}. {{award}}</div>
                            </div>			
						</div> 
					</div>
			    </li>
                
			</ul>

     </div>
		<!-- end left content -->
		
		<!-- slider navigation -->
		<!-- <div class="nav">
			<a href="#" id="up" class="notext">&nbsp;</a>
			<a href="#" id="down" class="notext">&nbsp;</a>
		</div> -->
		<!-- end slider navigation -->

	</div>
	<!-- end slider -->
	
	<!-- navigation -->
	<div id="navigation">
		<ul>
		    <li><a href="index.html" class="active"><span>首页</span></a></li>
		    <li><a href="member.html"><span>人员</span></a></li>
		    <li><a href="project.html"><span>项目</span></a></li>
		    <li><a href="publications.html"><span>成果</span></a></li>
		    <li><a href="awards.html"><span>荣誉</span></a></li>
		  <!--   <li><a href="cooperate.html"><span>合作</span></a></li> -->
            <li><a href="links.html"><span>资源</span></a></li>
		</ul>
	</div>
	<!-- end navigation -->
	
	<!-- main -->
	<div id="main">
		<!-- content -->
		<div id="content" class="left">
        	<!-- <div class="blog-roll">
        			     
        	             <div class="blog-item" style="width:950px">
        						<h4><a href="#">CA&P </a></h4>
        						<span class="blog-date">Natural Science Foundation of China, 61402396, 1/2015-12/2017 </span>
        						<p>Exploring Key Techniques in Change Analysis and Prediction based on Mining Hybrid Software Data (PI: Xiaobing Sun)
        	                       </p>
        					</div>
        					
        					<div class="blog-item" style="width:950px">
        						<h4><a href="#"> CD_SDA </a></h4>
        						<span class="blog-date"> Open Funds of State Key Laboratory for Novel Software Technology of Nanjing University, KFKT2014B13, 6/2014-5/2016</span>
        						<p>Exploring Key Techniques for Change-Driven Software Data Analysis (PI: Xiaobing Sun)</p>
        					</div>
        	
        					<div class="blog-item" style="width:950px">
        						<h4><a href="#">SCTL</a></h4>
        						<span class="blog-date">Natural Science Foundation of the Jiangsu Higher Education Institutions of China, 13KJB520027, 7/2013-12/2015</span>
        						<p>Key Techniques in Software Change Traceability and Location (PI: Xiaobing Sun) </p>
        					</div>
        	
        					<div class="blog-item" style="width:950px">
        						<h4><a href="#">PT</a></h4>
        						<span class="blog-date">Jiangsu Training Programs of Innovation and Entrepreneurship for Undergraduates, 201411117066X, 6/2014- 5/2015</span>
        						<p>Reseach and Practice in Program Translation </p>
        					</div>
        	
        					<div class="blog-item" style="width:950px">
        						<h4><a href="#">SAME</a></h4>
        						<span class="blog-date">Program for New Century Excellent Talents in Yanghzhou University, 1/2014-12/2016</span>
        						<p> Research in Software Analysis, Maintenance and Evolution (PI: Xiaobing Sun) </p>
        					</div>
        	                
        	                	<div class="blog-item" style="width:950px">
        						<h4><a href="#">RSE</a></h4>
        						<span class="blog-date">Starting Research Fundation from Yangzhou University, 6/2012-6/2014</span>
        						<p> Exploring Key Techniques for Reliable Software Evolution (PI: Xiaobing Sun)  </p>
        					</div>
        	                
        	                	<div class="blog-item" style="width:950px">
        						<h4><a href="#">CA</a></h4>
        						<span class="blog-date">Open Funds of State Key Laboratory of Computer Science of Chinese Academy of Sciences, SYSKF1110, 1/2011-12/2011 (PI: Bixin Li)</span>
        						<p> Change Analysis Based on Formal Concept Analysis （Team leader） </p>
        					</div>
        	                
        	                	<div class="blog-item" style="width:950px">
        						<h4><a href="#">FCA</a></h4>
        						<span class="blog-date">Scientific Research Foundation of Graduate School of Southeast University, YBJJ1102, 1/2011-12/2011 (PI: B. Li)</span>
        						<p> Using Concept Lattice to Support Change Analysis （Team leader） </p>
        					</div>
        	                
        	                	<div class="blog-item" style="width:950px">
        						<h4><a href="#">SEM</a></h4>
        						<span class="blog-date">National Natural Science Foundation of China, 60773105, 1/2008-12/2010 (PI: Bixin Li)</span>
        						<p>  Exploring the Key Techniques of Software Evolution and Maintenance （Team leader）</p>
        					</div>
        	                
        	                	<div class="blog-item" style="width:950px">
        						<h4><a href="#"> SQA-II</a></h4>
        						<span class="blog-date">National High Technology Development Plan (863 Project) 2007AA01Z141, 8/2007-12/2009 (PI: Yin Zhou and co-PI: Bixin Li)</span>
        						<p>Key Techniques in Software Quality Assurance Based on Software Evolution and Maintenance（Team leader） </p>
        					</div>
        			
        			     </div>	 -->

                <div class="news-item" >
					<div class="news-body" style="width:950px">
                    <h3>研究项目</h3>
						<div class="cl">&nbsp;</div>
						<p v-for="(project, index) in projects" align="justify"><font face="Times New Roman" size="2">[{{1+index}}] {{project}}</font></p>
					</div>
					<div class="cl">&nbsp;</div>
				</div>
                
                
					
		</div>

		
		<!-- right -->
		<div id="sidebar" class="right">
			
			<!-- blog roll -->
			
			<!-- end blog roll -->
							
			<!-- contact -->
			
			<!-- end contact -->
			
		</div>
		<!-- end right-->
		
		<div class="cl">&nbsp;</div>
	</div>
	<!-- end main -->
	
	<!-- footer -->
	<div id="footer">
		<p class="left">
			<a href="http://www.yzu.edu.cn">扬州大学</a>
			<span>|</span>
			<a href="http://xxgcxy.yzu.edu.cn/">扬州大学信息工程学院</a>
		<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253524161'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D1253524161%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
            <!-- <span>|</span>
            			<a href="http://keysoftlab.nju.edu.cn">软件新技术国家重点实验室</a>
            <span>|</span>
            			<a href="http://www.ios.ac.cn">计算机科学国家重点实验室</a>
            <span>|</span>
            			<a href="http://www.sklse.whu.edu.cn">软件工程国家重点实验室</a>
            <span>|</span>
            			<a href="http://www.nlsde.buaa.edu.cn/">软件开发环境国家重点实验室</a>
            <span>|</span>
            			<a href="http://www.sei.pku.edu.cn/">北京大学软件工程研究所</a>
            <span>|</span>
            			<a href="http://www.se.fudan.edu.cn">复旦大学软件工程研究所</a>
            <span>|</span>
            			<a href="http://ise.seu.edu.cn/"> 东南大学软件工程研究所 </a>  -->      
		</p>
		<!-- <p class="right">
			&copy; Design by hansguo</a>
		</p> -->
	</div>
	<!-- end footer -->
	
</div>
<!-- end shell -->
<script type="text/javascript" charset="utf-8">
	Cufon.now();
</script>
</body>
<script src="/js/aponder/utils.js"></script>
<script src="/js/aponder/banner.js"></script>

<script>
	var app = new Vue({
	  el: '#app',
	  data: {
		projects: [
			"知识驱动的软件缺陷分析与理解关键技术研究. 国家自然科学基金面上项目. 61972335. 61872312. 2020/1-2023/12",
			"基于知识探索的软件缺陷智能化修复关键技术研究. 国家自然科学基金面上项目. 61872312. 2019/1-2022/12",
			"带动态环境感知能力的电子化市场自动协商机制研究. 国家自然科学资金面上项目. 61472344. 2015/1-2018/12",
			"国家自然科学基金国际(地区)合作与交流项目. 面向动态环境的数据融合与知识建模研究. 61611540347. 2016/07-2018/06",
			"基于多源软件数据挖掘的修改分析与预测关键技术研究. 国家自然科学资金青年科学资金. 61402396. 2015/1-2017/12",
			"面向软件缺陷数据的知识表示关键技术研究. 计算机软件新技术国家重点实验室开放课题. KFKT2018B12. 2018/6-2020/5",
			"面向软件修改理解的软件数据探索技术研究. 中国博士后科学基金第57批面上资助项目. 2015M571489. 2015/1-2016/12 ",
			"修改驱动的软件数据分析技术研究. 计算机软件新技术国家重点实验室开放课题. 2014/6-2016/5",
			"软件维护与演化技术的研究. 扬州大学“新世纪人才工程”培养对象优秀青年骨干教师. 2014/6-2017/5",
			"软件修改映射和特征定位. 江苏省教育厅自然科学资金项目. 2013-2016",
			"基于多源软件数据分析的修改分析和评估技术的研究. 扬州大学科研培育基金. 2013-2014",
		]
	  },
	  created: function () {
	  },
	  computed: {
	  }
	})
	</script>
</html>
